// 配色
$-font-color: #505050;
$-font-title: #9090aa;

$-primary-1: #c7cad1;
$-primary-2: #e5e5e5;
$-primary-3: #dcdcdc;
$-primary-3: #faf0ee;
$-primary-5: #0d0d0d;
$-primary-6: #efefef;
$-primary-7: #f3f6fb;
$-primary-8: #666666;
$-primary-9: #f1f5fa;

$-split-color: #dfe2e7;

