
/*
* 自定义字体混入
*/
$f-sans-serif: Helvetica Neue, Open Sans, sans-serif; // 无衬线字体，即笔画结尾是平滑的字体。
$f-consolas: consolas, "Liberation Mono", courier, monospace; // 等宽字体，即字体中每个字宽度相同。
$f-code-pro: Source Code Pro, monospace;
$f-consolas-andale: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$f-montserrat: montserrat;
$f-m-s-s: montserrat, sans-serif;

@mixin custom-font-family($value) {
  font-family: $value;
}

/*
* box-shadow
*/
@mixin box-shadow($values...) {
  -moz-box-shadow: $values;
  -webkit-box-shadow: $values;
  box-shadow: $values;
}
// .shadows {
//   @include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
// }

@mixin border-bottom-split {
  border-bottom: 1px solid $-split-color;
  // @include box-shadow(0px 0px 1px $-split-color);
}

/*
* color 
*/
@mixin colors($text, $background, $border) {
  color: $text;
  background-color: $background;
  border-color: $border;
}
// $values: #ff0000, #00ff00, #0000ff;
// .primary {
//   @include colors($values...);
// }

/*
* 自适应移动端大小 px 转 rem
*/
$base-font-size: 37.5 !default; // 基于视觉稿横屏尺寸/100得出的基准font-size
// @function px-rem($px) {
//   @return $px / $base-font-size * 1rem;
// }

// .color-hh {
//   font-size: px-rem(20);
// }
/*
* 滚动条自定义样式设置
* 注意mac chrome的滚动条默认宽度为 15px 而 windows chrome滚动条宽度为 17px
* https://codepen.io/sambible/post/browser-scrollbar-widths
*/
@mixin scroll-bar($bg-color: $-font-title, $border-color: white) {
  &::-webkit-scrollbar {  /*滚动条整体样式*/
    width: .5em;
    height: .5em;
  }

  &::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    cursor: pointer;
    border-radius: 8px;
    background-color: $bg-color;
    // border: 1px solid $border-color;
  }

  &::-webkit-scrollbar-track { /*滚动条里面轨道*/
    border: 0 solid transparent;
    // background-color: $bg-color;
  }

  &::-webkit-scrollbar-corner { /*边角，即两个滚动条的交汇处*/
    background: transparent;
  }

  &::-webkit-scrollbar-button { /*滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。*/
    width: 0;
    height: 0;
    display: none;
  }
}
