@import "~@/assets/style/index.scss";
$content-height: px-rem(110);
.content {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - #{$content-height});
  // @include scroll-bar;
}
.resume-content {
  padding-top: 30px;
  @mixin resume-content {
    padding: 0 px-rem(50);
    color: $-font-color;
  }
  @mixin split-line-before {
    &:before {
      display: block;
      content: "";
      background: -webkit-linear-gradient(
        left,
        #dfe2e7 80%,
        rgba(223, 226, 231, 0) 100%
      );
      @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.4));
      height: 1px;
      position: relative;
      width: 100%;
      left: -20px;
      top: -15px;
      // margin-left: px-rem(50);
    }
  }
  &:not(:first-child) {
    @include split-line-before;
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
    @include resume-content;
    @include custom-font-family($f-montserrat);
  }
  &__subtitle {
    @extend .resume-content__title;
    padding-top: 16px;
    font-size: 15px;
  }
  &__text {
    @include resume-content;
    padding-top: 16px;
    line-height: 20px;
    @include custom-font-family($f-sans-serif);
    ol {
      list-style-type: decimal;
    }
    ul {
      list-style-type: disc;
    }
  }
}
@media screen and ($media-min:$w-1000){
  .pc-content__text {
    padding: 0px 40px;
  }
  .resume-content__title{
    @extend .pc-content__text;
  }
  .resume-content__subtitle{
    @extend .pc-content__text;
    padding-top: 8px;
  }
  .resume-content__text {
    @extend .pc-content__text;
    padding-top: 15px;
  }
}

.mobile {
  .resume-content {
    padding-top: px-rem(50);
    &__title {
      font-size: px-rem(50);
    }
    &__subtitle {
      padding-top: px-rem(50);
      font-size: px-rem(38);
      line-height: px-rem(50);
      // @include custom-font-family($f-consolas);
    }
    &__text {
      padding-top: px-rem(28);
      line-height:  px-rem(50);
      @include custom-font-family($f-consolas-andale);
      ol, ul {
        @include custom-font-family($f-consolas);
      }
    }
  }
}